<!doctype html>
<html>
<head>
	<title>Hungry Albert</title>	
	<meta charset="utf-8">
</head>

<body>
	<h1>Hello User...</h1>
	<h4>{{user}}</h4>

	<!-- p means paragraph -->
	<p>This is not a drill, merly a screwdriver.</p>

	<h4>Projects</h4>
	<ol>
		<li>Profiles</li>
		<li>Google Integration</li>
		<li>Eating Food!</li>
		<li>...</li>
	</ol>
</body>
</html>
